.back-lab {
  background-color: #f7b617;
  color: white;
}

.inline {
  display: inline-block;
}

@media (min-width: 0) {
  .column-xs-1 {
    float: left;
    width: 8.33333%;
  }
  .column-xs-2 {
    float: left;
    width: 16.66667%;
  }
  .column-xs-3 {
    float: left;
    width: 25%;
  }
  .column-xs-4 {
    float: left;
    width: 33.33333%;
  }
  .column-xs-5 {
    float: left;
    width: 41.66667%;
  }
  .column-xs-6 {
    float: left;
    width: 50%;
  }
  .column-xs-7 {
    float: left;
    width: 58.33333%;
  }
  .column-xs-8 {
    float: left;
    width: 66.66667%;
  }
  .column-xs-9 {
    float: left;
    width: 75%;
  }
  .column-xs-10 {
    float: left;
    width: 83.33333%;
  }
  .column-xs-11 {
    float: left;
    width: 91.66667%;
  }
  .column-xs-12 {
    float: left;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .column-sm-1 {
    float: left;
    width: 8.33333%;
  }
  .column-sm-2 {
    float: left;
    width: 16.66667%;
  }
  .column-sm-3 {
    float: left;
    width: 25%;
  }
  .column-sm-4 {
    float: left;
    width: 33.33333%;
  }
  .column-sm-5 {
    float: left;
    width: 41.66667%;
  }
  .column-sm-6 {
    float: left;
    width: 50%;
  }
  .column-sm-7 {
    float: left;
    width: 58.33333%;
  }
  .column-sm-8 {
    float: left;
    width: 66.66667%;
  }
  .column-sm-9 {
    float: left;
    width: 75%;
  }
  .column-sm-10 {
    float: left;
    width: 83.33333%;
  }
  .column-sm-11 {
    float: left;
    width: 91.66667%;
  }
  .column-sm-12 {
    float: left;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .column-md-1 {
    float: left;
    width: 8.33333%;
  }
  .column-md-2 {
    float: left;
    width: 16.66667%;
  }
  .column-md-3 {
    float: left;
    width: 25%;
  }
  .column-md-4 {
    float: left;
    width: 33.33333%;
  }
  .column-md-5 {
    float: left;
    width: 41.66667%;
  }
  .column-md-6 {
    float: left;
    width: 50%;
  }
  .column-md-7 {
    float: left;
    width: 58.33333%;
  }
  .column-md-8 {
    float: left;
    width: 66.66667%;
  }
  .column-md-9 {
    float: left;
    width: 75%;
  }
  .column-md-10 {
    float: left;
    width: 83.33333%;
  }
  .column-md-11 {
    float: left;
    width: 91.66667%;
  }
  .column-md-12 {
    float: left;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .column-lg-1 {
    float: left;
    width: 8.33333%;
  }
  .column-lg-2 {
    float: left;
    width: 16.66667%;
  }
  .column-lg-3 {
    float: left;
    width: 25%;
  }
  .column-lg-4 {
    float: left;
    width: 33.33333%;
  }
  .column-lg-5 {
    float: left;
    width: 41.66667%;
  }
  .column-lg-6 {
    float: left;
    width: 50%;
  }
  .column-lg-7 {
    float: left;
    width: 58.33333%;
  }
  .column-lg-8 {
    float: left;
    width: 66.66667%;
  }
  .column-lg-9 {
    float: left;
    width: 75%;
  }
  .column-lg-10 {
    float: left;
    width: 83.33333%;
  }
  .column-lg-11 {
    float: left;
    width: 91.66667%;
  }
  .column-lg-12 {
    float: left;
    width: 100%;
  }
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

.top {
  overflow: hidden;
}

.top__border--bot {
  border-bottom: #2b2b2b 1px solid;
}

.top__padd {
  padding: 21px;
}

.top__marg {
  margin: 21px;
}

.top__flex {
  display: flex;
}

.top__flex--around {
  justify-content: space-between;
}

.top__flex--center-column {
  align-items: center;
  flex-direction: column;
}

li {
  font-size: 20px;
}

.bloques {
  width: 100%;
}

.imagen__decolorada {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
}

.main-principal {
  position: relative;
}

.main-principal .figcap-principal {
  position: absolute;
  bottom: 0;
  color: white;
}

figure {
  background-color: #2b2b2b;
  color: white;
  /*margin: 7px;*/
}

.main {
  padding: 7px;
}

.hr-lab {
  width: 100px;
  height: 10px;
  background-color: #f7b617;
}
